<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bw.moive.dao.mapper.LinkMapper">

	<resultMap type="Link" id="linkResult">
		<result property="id" column="id"/>
		<result property="mid" column="mid"/>
		<result property="name" column="name"/>
		<result property="link" column="link"/>
		<result property="type" column="type"/>
		<result property="status" column="status"/>
		<result property="creator" column="creator"/>
		<result property="createtime" column="createtime"/>
		<result property="source" column="source"/>
	</resultMap>

	<insert id="insertLink">
		INSERT 
			INTO 
		`link` 
			(`mid`, `name`, `link`, `type`, `status`, `creator`, `createtime`, `source`) 
		VALUES 
			(#mId#, #name#, #link#, #type#, #status#, #creator#, #createtime#, #source#)
	</insert>
	
	<select id="selectLinkById" resultMap="linkResult">
		SELECT * FROM `link` WHERE `id` = #id#
	</select>

	<select id="selectLinkByMidAndStatus" resultMap="linkResult">
		SELECT * FROM `link` WHERE `mid` = #mId#
		<if test="${status != null}">
			AND `status` = #status#
		</if>
	</select>
	
	<delete id="deleteLinkById">
		DELETE FROM `link` WHERE (`id`=#id#)
	</delete>
</mapper>