<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bw.moive.dao.mapper.UserMapper">

	<resultMap type="User" id="userResult">
		<result property="id" column="id"/>
		<result property="neckName" column="nick_name"/>
	</resultMap>

	<select id="queryUser" resultMap="userResult">
		select u.id,u.nick_name from user u 
	</select>

	<select id="count" resultType="int">
		select count(*) from user
	</select>
</mapper>